.dropzone {
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}

.title {
  letter-spacing: 0.3em !important;
  flex-grow: 1;
  font-size: 1.6rem !important;
  font-weight: lighter !important;
}

.box {
  text-align: center;
}
